#pragma once
MAINICON ICON "icon.ico"
MAINICON2 ICON "icon2.ico"
test1 ICON "test1.ico"
test2 ICON "test2.ico"
test3 ICON "test3.ico"
test4 ICON "test4.ico"
test5 ICON "test5.ico"
test6 ICON "test6.ico"
test7 ICON "test7.ico"
test8 ICON "test8.ico"
