#pragma once
MAINICON ICON "Ico/icon.ico"
MAINICON2 ICON "Ico/icon2.ico"
test1 ICON "Ico/test1.ico"
test2 ICON "Ico/test2.ico"
test3 ICON "Ico/test3.ico"
test4 ICON "Ico/test4.ico"
test5 ICON "Ico/test5.ico"
test6 ICON "Ico/test6.ico"
test7 ICON "Ico/test7.ico"
test8 ICON "Ico/test8.ico"
