#include "resource.h"
IDR_TEXT_RESOURCEMAP TXT "..\\StortSpelprojekt\\data\\resourceMap.txt"
IDR_TEXT_RESOURCES_OBJECTS TXT "..\\StortSpelprojekt\\data\\Resources_objects.txt"
IDR_TEXT_RESOURCES_SHADERS TXT "..\\StortSpelprojekt\\data\\Resources_shaders.txt"
IDR_TEXT_RESOURCES_TEXTURES TXT "..\\StortSpelprojekt\\data\\Resources_textures.txt"
MAINICON ICON "..\\StortSpelprojekt\\Ico\\icon.ico"
MAINICON2 ICON "..\\StortSpelprojekt\\Ico\\icon2.ico"
test1 ICON "..\\StortSpelprojekt\\Ico\\test1.ico"
test2 ICON "..\\StortSpelprojekt\\Ico\\test2.ico"
test3 ICON "..\\StortSpelprojekt\\Ico\\test3.ico"
test4 ICON "..\\StortSpelprojekt\\Ico\\test4.ico"
test5 ICON "..\\StortSpelprojekt\\Ico\\test5.ico"
test6 ICON "..\\StortSpelprojekt\\Ico\\test6.ico"
test7 ICON "..\\StortSpelprojekt\\Ico\\test7.ico"
test8 ICON "..\\StortSpelprojekt\\Ico\\test8.ico"
IDR_SHADER1 SHADER "..\\StortSpelprojekt\\Shaders\\Alpha_ps.hlsl"
IDR_SHADER2 SHADER "..\\StortSpelprojekt\\Shaders\\CommonBuffers.hlsl"
IDR_SHADER3 SHADER "..\\StortSpelprojekt\\Shaders\\Default_ps.hlsl"
IDR_SHADER4 SHADER "..\\StortSpelprojekt\\Shaders\\Default_vs.hlsl"
IDR_SHADER5 SHADER "..\\StortSpelprojekt\\Shaders\\Fire_ps.hlsl"
IDR_SHADER6 SHADER "..\\StortSpelprojekt\\Shaders\\Fire_vs.hlsl"
IDR_SHADER7 SHADER "..\\StortSpelprojekt\\Shaders\\FogTest_ps.hlsl"
IDR_SHADER8 SHADER "..\\StortSpelprojekt\\Shaders\\ForwardPlusRendering.hlsl"
IDR_SHADER9 SHADER "..\\StortSpelprojekt\\Shaders\\ForwardPlus_ps.hlsl"
IDR_SHADER10 SHADER "..\\StortSpelprojekt\\Shaders\\FractionalBrownianMotion.hlsl"
IDR_SHADER11 SHADER "..\\StortSpelprojekt\\Shaders\\FXAA_ps.hlsl"
IDR_SHADER12 SHADER "..\\StortSpelprojekt\\Shaders\\Grass_ds.hlsl"
IDR_SHADER13 SHADER "..\\StortSpelprojekt\\Shaders\\Grass_gs.hlsl"
IDR_SHADER14 SHADER "..\\StortSpelprojekt\\Shaders\\Grass_hs.hlsl"
IDR_SHADER15 SHADER "..\\StortSpelprojekt\\Shaders\\Grass_ps.hlsl"
IDR_SHADER16 SHADER "..\\StortSpelprojekt\\Shaders\\Grass_vs.hlsl"
IDR_SHADER17 SHADER "..\\StortSpelprojekt\\Shaders\\Instance_vs.hlsl"
IDR_SHADER18 SHADER "..\\StortSpelprojekt\\Shaders\\IO.hlsl"
IDR_SHADER19 SHADER "..\\StortSpelprojekt\\Shaders\\Leaf_vs.hlsl"
IDR_SHADER20 SHADER "..\\StortSpelprojekt\\Shaders\\noiseSimplex.cginc"
IDR_SHADER21 SHADER "..\\StortSpelprojekt\\Shaders\\Particles_ps.hlsl"
IDR_SHADER22 SHADER "..\\StortSpelprojekt\\Shaders\\Particles_vs.hlsl"
IDR_SHADER23 SHADER "..\\StortSpelprojekt\\Shaders\\PhongShading.hlsl"
IDR_SHADER24 SHADER "..\\StortSpelprojekt\\Shaders\\PSBlendModes.hlsl"
IDR_SHADER25 SHADER "..\\StortSpelprojekt\\Shaders\\ScreenQuad_ps.hlsl"
IDR_SHADER26 SHADER "..\\StortSpelprojekt\\Shaders\\ScreenQuad_vs.hlsl"
IDR_SHADER27 SHADER "..\\StortSpelprojekt\\Shaders\\Skeleton_vs.hlsl"
IDR_SHADER28 SHADER "..\\StortSpelprojekt\\Shaders\\Sky_ps.hlsl"
IDR_SHADER29 SHADER "..\\StortSpelprojekt\\Shaders\\Sky_vs.hlsl"
IDR_SHADER30 SHADER "..\\StortSpelprojekt\\Shaders\\Terrain_ps.hlsl"
IDR_SHADER31 SHADER "..\\StortSpelprojekt\\Shaders\\Terrain_vs.hlsl"
IDR_SHADER32 SHADER "..\\StortSpelprojekt\\Shaders\\TestPass.hlsl"
IDR_TEXTURE1 TEXTURE "..\\StortSpelprojekt\\Textures\\Antialiasing.png"
IDR_TEXTURE2 TEXTURE "..\\StortSpelprojekt\\Textures\\AppleDiffuse.png"
IDR_TEXTURE3 TEXTURE "..\\StortSpelprojekt\\Textures\\AxeDiffuseRed.png"
IDR_TEXTURE4 TEXTURE "..\\StortSpelprojekt\\Textures\\AxeIcon.png"
IDR_TEXTURE5 TEXTURE "..\\StortSpelprojekt\\Textures\\AxeIcon2.png"
IDR_TEXTURE6 TEXTURE "..\\StortSpelprojekt\\Textures\\AxeNormalRed.png"
IDR_TEXTURE7 TEXTURE "..\\StortSpelprojekt\\Textures\\AxeSprite.png"
IDR_TEXTURE8 TEXTURE "..\\StortSpelprojekt\\Textures\\BackButton.png"
IDR_TEXTURE9 TEXTURE "..\\StortSpelprojekt\\Textures\\BakedBeans.jpg"
IDR_TEXTURE10 TEXTURE "..\\StortSpelprojekt\\Textures\\Ballers.png"
IDR_TEXTURE11 TEXTURE "..\\StortSpelprojekt\\Textures\\Ballers.psd"
IDR_TEXTURE12 TEXTURE "..\\StortSpelprojekt\\Textures\\BananaDiffuse.png"
IDR_TEXTURE13 TEXTURE "..\\StortSpelprojekt\\Textures\\barkN.png"
IDR_TEXTURE14 TEXTURE "..\\StortSpelprojekt\\Textures\\barkTest.png"
IDR_TEXTURE15 TEXTURE "..\\StortSpelprojekt\\Textures\\baseMonster_monsterMaterial_BaseColor.png"
IDR_TEXTURE16 TEXTURE "..\\StortSpelprojekt\\Textures\\BasketDiffuse.png"
IDR_TEXTURE17 TEXTURE "..\\StortSpelprojekt\\Textures\\BatDiffuse.png"
IDR_TEXTURE18 TEXTURE "..\\StortSpelprojekt\\Textures\\BatNormal.png"
IDR_TEXTURE19 TEXTURE "..\\StortSpelprojekt\\Textures\\bedDiff.png"
IDR_TEXTURE20 TEXTURE "..\\StortSpelprojekt\\Textures\\chairDiff.png"
IDR_TEXTURE21 TEXTURE "..\\StortSpelprojekt\\Textures\\Character_arms_Character_arms_phong1SG_Diffuse.png"
IDR_TEXTURE22 TEXTURE "..\\StortSpelprojekt\\Textures\\Character_arms_Character_arms_phong1SG_Normal.png"
IDR_TEXTURE23 TEXTURE "..\\StortSpelprojekt\\Textures\\Character_arms_Character_arms_phong1SG_Specular.png"
IDR_TEXTURE24 TEXTURE "..\\StortSpelprojekt\\Textures\\chargerDiffuse.png"
IDR_TEXTURE25 TEXTURE "..\\StortSpelprojekt\\Textures\\chargerN.png"
IDR_TEXTURE26 TEXTURE "..\\StortSpelprojekt\\Textures\\Color_Ramp.png"
IDR_TEXTURE27 TEXTURE "..\\StortSpelprojekt\\Textures\\Compass.dds"
IDR_TEXTURE28 TEXTURE "..\\StortSpelprojekt\\Textures\\Compass.png"
IDR_TEXTURE29 TEXTURE "..\\StortSpelprojekt\\Textures\\Crosshair.png"
IDR_TEXTURE30 TEXTURE "..\\StortSpelprojekt\\Textures\\cursor.png"
IDR_TEXTURE31 TEXTURE "..\\StortSpelprojekt\\Textures\\Curtains_Diffuse.png"
IDR_TEXTURE32 TEXTURE "..\\StortSpelprojekt\\Textures\\Curtains_Normal.png"
IDR_TEXTURE33 TEXTURE "..\\StortSpelprojekt\\Textures\\Day.png"
IDR_TEXTURE34 TEXTURE "..\\StortSpelprojekt\\Textures\\DeadLog_Diffuse.png"
IDR_TEXTURE35 TEXTURE "..\\StortSpelprojekt\\Textures\\DeadLog_normal.png"
IDR_TEXTURE36 TEXTURE "..\\StortSpelprojekt\\Textures\\Died.png"
IDR_TEXTURE37 TEXTURE "..\\StortSpelprojekt\\Textures\\DippingBar.png"
IDR_TEXTURE38 TEXTURE "..\\StortSpelprojekt\\Textures\\Directionsign_Diffuse.png"
IDR_TEXTURE39 TEXTURE "..\\StortSpelprojekt\\Textures\\Directionsign_Normal.png"
IDR_TEXTURE40 TEXTURE "..\\StortSpelprojekt\\Textures\\doorDiff.png"
IDR_TEXTURE41 TEXTURE "..\\StortSpelprojekt\\Textures\\DoorSprite.png"
IDR_TEXTURE42 TEXTURE "..\\StortSpelprojekt\\Textures\\Door_initialShadingGroup_Diffuse.png"
IDR_TEXTURE43 TEXTURE "..\\StortSpelprojekt\\Textures\\Door_initialShadingGroup_Normal.png"
IDR_TEXTURE44 TEXTURE "..\\StortSpelprojekt\\Textures\\Door_initialShadingGroup_Specular.png"
IDR_TEXTURE45 TEXTURE "..\\StortSpelprojekt\\Textures\\dot.png"
IDR_TEXTURE46 TEXTURE "..\\StortSpelprojekt\\Textures\\End.png"
IDR_TEXTURE47 TEXTURE "..\\StortSpelprojekt\\Textures\\Endsign1_Diffuse.png"
IDR_TEXTURE48 TEXTURE "..\\StortSpelprojekt\\Textures\\Endsign1_Normal.png"
IDR_TEXTURE49 TEXTURE "..\\StortSpelprojekt\\Textures\\EquipmentBox.png"
IDR_TEXTURE50 TEXTURE "..\\StortSpelprojekt\\Textures\\exit.png"
IDR_TEXTURE51 TEXTURE "..\\StortSpelprojekt\\Textures\\fire.png"
IDR_TEXTURE52 TEXTURE "..\\StortSpelprojekt\\Textures\\fire1.png"
IDR_TEXTURE53 TEXTURE "..\\StortSpelprojekt\\Textures\\fireAlpha.png"
IDR_TEXTURE54 TEXTURE "..\\StortSpelprojekt\\Textures\\FireIcon.bmp"
IDR_TEXTURE55 TEXTURE "..\\StortSpelprojekt\\Textures\\FireIcon.gif"
IDR_TEXTURE56 TEXTURE "..\\StortSpelprojekt\\Textures\\FireIcon.png"
IDR_TEXTURE57 TEXTURE "..\\StortSpelprojekt\\Textures\\FireIcon2.png"
IDR_TEXTURE58 TEXTURE "..\\StortSpelprojekt\\Textures\\fireNoise.png"
IDR_TEXTURE59 TEXTURE "..\\StortSpelprojekt\\Textures\\FireplaceDiffuse.png"
IDR_TEXTURE60 TEXTURE "..\\StortSpelprojekt\\Textures\\FireplaceNormal.png"
IDR_TEXTURE61 TEXTURE "..\\StortSpelprojekt\\Textures\\FireRed.png"
IDR_TEXTURE62 TEXTURE "..\\StortSpelprojekt\\Textures\\fireTexture.png"
IDR_TEXTURE63 TEXTURE "..\\StortSpelprojekt\\Textures\\FirLeavesA.png"
IDR_TEXTURE64 TEXTURE "..\\StortSpelprojekt\\Textures\\FirLeavesDiff.png"
IDR_TEXTURE65 TEXTURE "..\\StortSpelprojekt\\Textures\\FlowerPot_Diffuse.png"
IDR_TEXTURE66 TEXTURE "..\\StortSpelprojekt\\Textures\\FlowerPot_Normal.png"
IDR_TEXTURE67 TEXTURE "..\\StortSpelprojekt\\Textures\\FoodIcon.png"
IDR_TEXTURE68 TEXTURE "..\\StortSpelprojekt\\Textures\\FruitsDiffuse.png"
IDR_TEXTURE69 TEXTURE "..\\StortSpelprojekt\\Textures\\FuelcanBlue.png"
IDR_TEXTURE70 TEXTURE "..\\StortSpelprojekt\\Textures\\FuelCanBlue_Normal.png"
IDR_TEXTURE71 TEXTURE "..\\StortSpelprojekt\\Textures\\FuelCan_Green.png"
IDR_TEXTURE72 TEXTURE "..\\StortSpelprojekt\\Textures\\FuelCan_Green_normal.png"
IDR_TEXTURE73 TEXTURE "..\\StortSpelprojekt\\Textures\\FuelCan_Red.png"
IDR_TEXTURE74 TEXTURE "..\\StortSpelprojekt\\Textures\\FuelCan_Red_normal.png"
IDR_TEXTURE75 TEXTURE "..\\StortSpelprojekt\\Textures\\Fuel_Icon.png"
IDR_TEXTURE76 TEXTURE "..\\StortSpelprojekt\\Textures\\Gorilla.png"
IDR_TEXTURE77 TEXTURE "..\\StortSpelprojekt\\Textures\\Gradiant.jpg"
IDR_TEXTURE78 TEXTURE "..\\StortSpelprojekt\\Textures\\Gradiant.png"
IDR_TEXTURE79 TEXTURE "..\\StortSpelprojekt\\Textures\\Gradiant2.png"
IDR_TEXTURE80 TEXTURE "..\\StortSpelprojekt\\Textures\\Gradiant2.psd"
IDR_TEXTURE81 TEXTURE "..\\StortSpelprojekt\\Textures\\Gradiant3.png"
IDR_TEXTURE82 TEXTURE "..\\StortSpelprojekt\\Textures\\Gradiant3.psd"
IDR_TEXTURE83 TEXTURE "..\\StortSpelprojekt\\Textures\\Gradiant3Colorful.png"
IDR_TEXTURE84 TEXTURE "..\\StortSpelprojekt\\Textures\\Gradiant3Dark.png"
IDR_TEXTURE85 TEXTURE "..\\StortSpelprojekt\\Textures\\Gradiant3Normal.psd"
IDR_TEXTURE86 TEXTURE "..\\StortSpelprojekt\\Textures\\grassDiff.png"
IDR_TEXTURE87 TEXTURE "..\\StortSpelprojekt\\Textures\\grassHeight.png"
IDR_TEXTURE88 TEXTURE "..\\StortSpelprojekt\\Textures\\Grass_001_COLOR.jpg"
IDR_TEXTURE89 TEXTURE "..\\StortSpelprojekt\\Textures\\ground.png"
IDR_TEXTURE90 TEXTURE "..\\StortSpelprojekt\\Textures\\groundGrass.png"
IDR_TEXTURE91 TEXTURE "..\\StortSpelprojekt\\Textures\\GroundNormalMap.png.png"
IDR_TEXTURE92 TEXTURE "..\\StortSpelprojekt\\Textures\\HammerDiffuse.png"
IDR_TEXTURE93 TEXTURE "..\\StortSpelprojekt\\Textures\\HammerNormal.png"
IDR_TEXTURE94 TEXTURE "..\\StortSpelprojekt\\Textures\\HandIcon.png"
IDR_TEXTURE95 TEXTURE "..\\StortSpelprojekt\\Textures\\HealthIcon.png"
IDR_TEXTURE96 TEXTURE "..\\StortSpelprojekt\\Textures\\HealthJarDiffuse.png"
IDR_TEXTURE97 TEXTURE "..\\StortSpelprojekt\\Textures\\healthKitDiffuse.png"
IDR_TEXTURE98 TEXTURE "..\\StortSpelprojekt\\Textures\\Health_Fuel_Food.png"
IDR_TEXTURE99 TEXTURE "..\\StortSpelprojekt\\Textures\\higherVolume.png"
IDR_TEXTURE100 TEXTURE "..\\StortSpelprojekt\\Textures\\higherVolumeButton.png"
IDR_TEXTURE101 TEXTURE "..\\StortSpelprojekt\\Textures\\House.png"
IDR_TEXTURE102 TEXTURE "..\\StortSpelprojekt\\Textures\\House_Base_initialShadingGroup_Diffuse.png"
IDR_TEXTURE103 TEXTURE "..\\StortSpelprojekt\\Textures\\House_Base_initialShadingGroup_Normal.png"
IDR_TEXTURE104 TEXTURE "..\\StortSpelprojekt\\Textures\\House_Base_initialShadingGroup_Specular.png"
IDR_TEXTURE105 TEXTURE "..\\StortSpelprojekt\\Textures\\House_Base_Transparency.png"
IDR_TEXTURE106 TEXTURE "..\\StortSpelprojekt\\Textures\\House_Exterior_initialShadingGroup_Diffuse.png"
IDR_TEXTURE107 TEXTURE "..\\StortSpelprojekt\\Textures\\House_Exterior_initialShadingGroup_Normal.png"
IDR_TEXTURE108 TEXTURE "..\\StortSpelprojekt\\Textures\\House_Exterior_initialShadingGroup_Specular.png"
IDR_TEXTURE109 TEXTURE "..\\StortSpelprojekt\\Textures\\howToPlay.png"
IDR_TEXTURE110 TEXTURE "..\\StortSpelprojekt\\Textures\\Info.png"
IDR_TEXTURE111 TEXTURE "..\\StortSpelprojekt\\Textures\\lambert1_Base_ColorRed.png"
IDR_TEXTURE112 TEXTURE "..\\StortSpelprojekt\\Textures\\lampa_lambert1_BaseColor.png"
IDR_TEXTURE113 TEXTURE "..\\StortSpelprojekt\\Textures\\Leg_initialShadingGroup_Diffuse.png"
IDR_TEXTURE114 TEXTURE "..\\StortSpelprojekt\\Textures\\Leg_initialShadingGroup_Normal.png"
IDR_TEXTURE115 TEXTURE "..\\StortSpelprojekt\\Textures\\Leg_initialShadingGroup_Specular.png"
IDR_TEXTURE116 TEXTURE "..\\StortSpelprojekt\\Textures\\Loading.png"
IDR_TEXTURE117 TEXTURE "..\\StortSpelprojekt\\Textures\\LogsDiffuse.png"
IDR_TEXTURE118 TEXTURE "..\\StortSpelprojekt\\Textures\\LogsNormal.png"
IDR_TEXTURE119 TEXTURE "..\\StortSpelprojekt\\Textures\\Lore.png"
IDR_TEXTURE120 TEXTURE "..\\StortSpelprojekt\\Textures\\lowerVolume.png"
IDR_TEXTURE121 TEXTURE "..\\StortSpelprojekt\\Textures\\lowerVolumeButton.png"
IDR_TEXTURE122 TEXTURE "..\\StortSpelprojekt\\Textures\\mind-blown-150x150.jpg"
IDR_TEXTURE123 TEXTURE "..\\StortSpelprojekt\\Textures\\Music.png"
IDR_TEXTURE124 TEXTURE "..\\StortSpelprojekt\\Textures\\newGrass.png"
IDR_TEXTURE125 TEXTURE "..\\StortSpelprojekt\\Textures\\Night.png"
IDR_TEXTURE126 TEXTURE "..\\StortSpelprojekt\\Textures\\noise.png"
IDR_TEXTURE127 TEXTURE "..\\StortSpelprojekt\\Textures\\Off.png"
IDR_TEXTURE128 TEXTURE "..\\StortSpelprojekt\\Textures\\On.png"
IDR_TEXTURE129 TEXTURE "..\\StortSpelprojekt\\Textures\\OnceUponATime.png"
IDR_TEXTURE130 TEXTURE "..\\StortSpelprojekt\\Textures\\options.png"
IDR_TEXTURE131 TEXTURE "..\\StortSpelprojekt\\Textures\\particle.png"
IDR_TEXTURE132 TEXTURE "..\\StortSpelprojekt\\Textures\\PearDiffuse.png"
IDR_TEXTURE133 TEXTURE "..\\StortSpelprojekt\\Textures\\play.png"
IDR_TEXTURE134 TEXTURE "..\\StortSpelprojekt\\Textures\\PropaneDiffuse.png"
IDR_TEXTURE135 TEXTURE "..\\StortSpelprojekt\\Textures\\PropaneNormal.png"
IDR_TEXTURE136 TEXTURE "..\\StortSpelprojekt\\Textures\\Puzzle_fly_statue_initialShadingGroup_Diffuse.png"
IDR_TEXTURE137 TEXTURE "..\\StortSpelprojekt\\Textures\\Puzzle_fly_statue_initialShadingGroup_Normal.png"
IDR_TEXTURE138 TEXTURE "..\\StortSpelprojekt\\Textures\\Puzzle_fly_statue_initialShadingGroup_Specular.png"
IDR_TEXTURE139 TEXTURE "..\\StortSpelprojekt\\Textures\\Puzzle_frog_statue_initialShadingGroup_Diffuse.png"
IDR_TEXTURE140 TEXTURE "..\\StortSpelprojekt\\Textures\\Puzzle_frog_statue_initialShadingGroup_Normal.png"
IDR_TEXTURE141 TEXTURE "..\\StortSpelprojekt\\Textures\\Puzzle_frog_statue_initialShadingGroup_Specular.png"
IDR_TEXTURE142 TEXTURE "..\\StortSpelprojekt\\Textures\\Ramp_Day.png"
IDR_TEXTURE143 TEXTURE "..\\StortSpelprojekt\\Textures\\Ramp_Day2.png"
IDR_TEXTURE144 TEXTURE "..\\StortSpelprojekt\\Textures\\Ramp_Dusk.png"
IDR_TEXTURE145 TEXTURE "..\\StortSpelprojekt\\Textures\\Ramp_End.png"
IDR_TEXTURE146 TEXTURE "..\\StortSpelprojekt\\Textures\\Ramp_Midnight.png"
IDR_TEXTURE147 TEXTURE "..\\StortSpelprojekt\\Textures\\Ramp_Night.png"
IDR_TEXTURE148 TEXTURE "..\\StortSpelprojekt\\Textures\\RandomNormal.png"
IDR_TEXTURE149 TEXTURE "..\\StortSpelprojekt\\Textures\\Restart.png"
IDR_TEXTURE150 TEXTURE "..\\StortSpelprojekt\\Textures\\Rock_1_initialShadingGroup_Diffuse.png"
IDR_TEXTURE151 TEXTURE "..\\StortSpelprojekt\\Textures\\Rock_1_initialShadingGroup_Normal.png"
IDR_TEXTURE152 TEXTURE "..\\StortSpelprojekt\\Textures\\Rock_1_initialShadingGroup_Specular.png"
IDR_TEXTURE153 TEXTURE "..\\StortSpelprojekt\\Textures\\Rock_2_initialShadingGroup_Diffuse.png"
IDR_TEXTURE154 TEXTURE "..\\StortSpelprojekt\\Textures\\Rock_2_initialShadingGroup_Normal.png"
IDR_TEXTURE155 TEXTURE "..\\StortSpelprojekt\\Textures\\Rock_2_initialShadingGroup_Specular.png"
IDR_TEXTURE156 TEXTURE "..\\StortSpelprojekt\\Textures\\Rock_3_initialShadingGroup_Diffuse.png"
IDR_TEXTURE157 TEXTURE "..\\StortSpelprojekt\\Textures\\Rock_3_initialShadingGroup_Normal.png"
IDR_TEXTURE158 TEXTURE "..\\StortSpelprojekt\\Textures\\Rock_3_initialShadingGroup_Specular.png"
IDR_TEXTURE159 TEXTURE "..\\StortSpelprojekt\\Textures\\shelfDiff.png"
IDR_TEXTURE160 TEXTURE "..\\StortSpelprojekt\\Textures\\skymap.dds"
IDR_TEXTURE161 TEXTURE "..\\StortSpelprojekt\\Textures\\SoundeffectsButton.png"
IDR_TEXTURE162 TEXTURE "..\\StortSpelprojekt\\Textures\\Spis_Diffuse.png"
IDR_TEXTURE163 TEXTURE "..\\StortSpelprojekt\\Textures\\Spis_Normal.png"
IDR_TEXTURE164 TEXTURE "..\\StortSpelprojekt\\Textures\\starstar.png"
IDR_TEXTURE165 TEXTURE "..\\StortSpelprojekt\\Textures\\start.png"
IDR_TEXTURE166 TEXTURE "..\\StortSpelprojekt\\Textures\\StartNote.png"
IDR_TEXTURE167 TEXTURE "..\\StortSpelprojekt\\Textures\\StartNote.psd"
IDR_TEXTURE168 TEXTURE "..\\StortSpelprojekt\\Textures\\startsCompass.dds"
IDR_TEXTURE169 TEXTURE "..\\StortSpelprojekt\\Textures\\StylizedFirDiffuse2.png"
IDR_TEXTURE170 TEXTURE "..\\StortSpelprojekt\\Textures\\StylizedFirOpacity2.png"
IDR_TEXTURE171 TEXTURE "..\\StortSpelprojekt\\Textures\\sunset.png"
IDR_TEXTURE172 TEXTURE "..\\StortSpelprojekt\\Textures\\Sylvanas.jpg"
IDR_TEXTURE173 TEXTURE "..\\StortSpelprojekt\\Textures\\test.dds"
IDR_TEXTURE174 TEXTURE "..\\StortSpelprojekt\\Textures\\TestFix.png"
IDR_TEXTURE175 TEXTURE "..\\StortSpelprojekt\\Textures\\TestFix2.png"
IDR_TEXTURE176 TEXTURE "..\\StortSpelprojekt\\Textures\\tiles.jpg"
IDR_TEXTURE177 TEXTURE "..\\StortSpelprojekt\\Textures\\tiles_normal.jpg"
IDR_TEXTURE178 TEXTURE "..\\StortSpelprojekt\\Textures\\treeBark_basecolor.png"
IDR_TEXTURE179 TEXTURE "..\\StortSpelprojekt\\Textures\\treeBark_normal.png"
IDR_TEXTURE180 TEXTURE "..\\StortSpelprojekt\\Textures\\tree_leaves_01_basecolor.png"
IDR_TEXTURE181 TEXTURE "..\\StortSpelprojekt\\Textures\\tree_leaves_01_opacity.png"
IDR_TEXTURE182 TEXTURE "..\\StortSpelprojekt\\Textures\\Vask_Diffuse.png"
IDR_TEXTURE183 TEXTURE "..\\StortSpelprojekt\\Textures\\Vask_Normal.png"
IDR_TEXTURE184 TEXTURE "..\\StortSpelprojekt\\Textures\\volumeBarFill.png"
IDR_TEXTURE185 TEXTURE "..\\StortSpelprojekt\\Textures\\volumeButton.png"
IDR_TEXTURE186 TEXTURE "..\\StortSpelprojekt\\Textures\\wallsDiff.png"
IDR_TEXTURE187 TEXTURE "..\\StortSpelprojekt\\Textures\\Win.png"
IDR_TEXTURE188 TEXTURE "..\\StortSpelprojekt\\Textures\\wolfMonsterDiffuse2.png"
IDR_TEXTURE189 TEXTURE "..\\StortSpelprojekt\\Textures\\wolfMonsterNormal.als.png"
IDR_SOUND1 SOUND "..\\StortSpelprojekt\\Sounds\\choptree.mp3"
IDR_SOUND2 SOUND "..\\StortSpelprojekt\\Sounds\\fuelPickup.wav"
IDR_SOUND3 SOUND "..\\StortSpelprojekt\\Sounds\\insideWalk.mp3"
IDR_SOUND4 SOUND "..\\StortSpelprojekt\\Sounds\\jakestuff.mp3"
IDR_SOUND5 SOUND "..\\StortSpelprojekt\\Sounds\\jump.wav"
IDR_SOUND6 SOUND "..\\StortSpelprojekt\\Sounds\\pickup3.wav"
IDR_SOUND7 SOUND "..\\StortSpelprojekt\\Sounds\\Punch.wav"
IDR_SOUND8 SOUND "..\\StortSpelprojekt\\Sounds\\running.mp3"
IDR_SOUND9 SOUND "..\\StortSpelprojekt\\Sounds\\swinging_axe.mp3"
IDR_SOUND10 SOUND "..\\StortSpelprojekt\\Sounds\\walking.wav"
IDR_SOUND11 SOUND "..\\StortSpelprojekt\\Sounds\\windyLoop.mp3"
